@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root{
    --base-clr: #303347;
    --linea-clr: #42434a;
    --hover-clr: #151822;
    --texto-clr: #e6e6ef;
    --acento-clr: #8cff5ebd;
    --texto-secundario-clr: #b0b3c1;


    --color-barra-lateral: rgb(255, 255, 255);

    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 136, 144); 

    --color-menu-hover: rgb(224, 224, 224);
    --color-menu-hover-text: rgb(0, 0, 0);

    --color-boton: rgb(0, 0, 0);
    --color-boton-texto: rgb(255, 255, 255);

    --color-linea: rgb(222, 222, 222);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html{
    line-height: 24px;
}
.header {
    background-color: #193d01c4;
    color: white;
    padding: 20px 0;
}
.logo {
    width: 50px;
    height: 50px;
    fill: white;
}







.contenedor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 200px;
}

.medio{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--color-linea);
    
}
.barra-lateral{
    width: 250px;
    height: 100vh;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease;
}
.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    font-size: 18px;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/* ========================= Nombre pagina */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

}
.barra-lateral .nombre-pagina i{
    min-width: 70px;
    font-size: 70px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}

/* ================== Boton */
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-boton);
    border-radius: 10px;
    color: var(--color-boton-texto);
}
.barra-lateral .boton i{
    border: 2ps solid red;
    min-width: 50px;
    font-size: 25px;
} 


/* ================================ menu navegacion */
.barra-lateral .navegacion li{
    list-style: none;
    display: flex;
    margin-left: -30px;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
}
.barra-lateral .navegacion i{
    min-width: 50px;
    font-size: 20px;
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-text); 
}
.barra-lateral .navegacion i{
    min-width: 50px;
    font-size: 20px;
}

/* ================== linea */
.barra-lateral .linea{
    width: 100%;
    height: 3px;
    background-color: var(--color-linea);
}



