*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: poppins, sans-serif;
}
:root{
    --bg-color: #ffb9e0;
    --second-bg-color: #f51d82;
    --text-color: #111;
    --main-color: rgb(53, 53, 53);
    --primary-color: #ffffff;
    --second-color: #aaaaaa;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10rem;
    background:  #4d1b38;
    box-shadow: 0 0 10px rgb(37, 37, 37);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    
}
.logo{
    width: 90px;
    height: 90px;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.navbar a, .input-box{
    text-decoration: none;
    font-size: 2.3rem;
    color: var(--primary-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar i{
    font-size: 2.8rem;
    color: var(--primary-color);
}
.user{
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 0 10px;
}
.user:hover{
    border: 1px solid var(--second-bg-color);
}
.navbar a:hover, .navbar i:hover{
    color: var(--second-bg-color);
    border-bottom: 3px solid var(--second-bg-color);
}
.navbar a:nth-child(2){
    margin-right: 10rem;
}
.search i{
    position: relative;
    top: -30px;  
    left: 14px;
    color: #111;
}
.input-field{
    font-size: 15px;
    background: #fff;
    color: #000000;
    height: 35px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-box{
    margin-top: 30px;
}

.nav-menu-btn{ 
    text-decoration: none;
    font-size: 2.3rem;
    color: var(--primary-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;   
    display: none;
}


/* ==================================== CONTENIDO ========================================== */

section{
    margin: 13rem 5rem;
    padding: 20px; 
    /* backdrop-filter: blur(25px); */
    /* border-radius: 10px; */
    /* border: 1px solid #111; */
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin: 0px 50px
}
h1{
    color: #111;
    font-size:40px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.descripcion-box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.descripcion{
    width: 600px;
    height: 60px;
    font-size: 20px;
    color: rgb(37, 37, 37);
    padding: 20px 20px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    /* outline: none; */
    resize: none;
}
textarea::-webkit-scrollbar{
    width: 0px;
}
.label{
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 20px;
    transition: .2s;
}
.descripcion:focus ~ .label,
.descripcion:valid ~ .label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 17px;
    background-color: rgb(189, 189, 189);
    border-radius: 30px;
    color:#111;
    padding: 0 10px;
}
.fecha-box{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
.cliente, .pedido, .producto{
    width: 600px;
}

.fecha-inicio input, 
.fecha-final input,
.prioridad select,
.estado select{
    padding: 7px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
}
select{
    padding: 7px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
}

.fecha-inicio input, 
.fecha-final input{
    padding: 7px 56px;
}

label{
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0px;
}


.btn{
    font-size: 18px;
    width: 200px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .navbar a, .navbar i{
        display: none;
    }
    

}