*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.search{
    width: 100%;
    border-radius: 5px;
    color: #fff;
    padding: 5px 0 5px 40px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(126, 126, 126, 0.3);
    background: rgba(97, 107, 126, 0.5);
    /* background: rgba(33, 40, 53, 0.5); */
}